.me {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.me::before {
	content: "";
	display: block;
	position: absolute;
	left: 15%;
	top: 3.9%;
	width: 83px;
	height: 24px;
	background-image: url(../../img/3.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
.me::after {
	content: "";
	display: block;
	position: absolute;
	transform: rotate(-12deg);
	right: 20.7%;
	top: -0.4%;
	width: 83px;
	height: 16px;
	background-image: url(../../img/4.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.background {
	position: absolute;
	bottom: 4px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media screen and (min-width: 1024px) {
	.me {
		display: block;
		justify-content: flex-start;
		padding: 0 0 0 40px;
	}
	.me::before {
		top: 7.7%;
		left: 7.5%;
		height: 50px;
	}
	.me::after {
		top: 20.7%;
		right: 50.6%;
		height: 40px;
		transform: rotate(36deg);
	}
}

@media screen and (min-width: 1200px) {
	.me {
		width: 1152px;
		margin: 0 auto;
		padding: 0 0 237px 0;
		position: static;
	}
	.me::before {
		top: 1.4%;
		left: 6.7%;
	}
	.me::after {
		background-image: url(../../img/1div.png);
		transform: rotate(0deg);
		
	}
}

@media screen and (min-width: 1440px) {
	.me::after {
		top: 17.7%;
		right: 45.5%;
		transform: rotate(0deg);
	}
}