.header__contacts {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

@media screen and (min-width: 1024px) {
	.header__contacts {
		font-size: 25px;
		margin-left: auto;
	}
}