@media screen and (min-width: 1024px) {
	.header__button {
		padding: 14px 37px;
		margin-left: 26px;
		border: 1px solid #f82370;
		color: #f53f4f;
		text-decoration: none;
		font-size: 16px;
	}
	.header__button:hover {
		background-color: #f82370;
		color: #fff;
	}
}

@media screen and (min-width: 1200px) {
	.header__button {
		padding: 13px 40px;
		font-size: 16px;
		margin-left: 22px;
		margin-right: -17px;
	}
}