.header {
	width: 100%;
	box-sizing: border-box;
	padding: 30px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header_fixed {
	position: fixed;
	top: 0;
}

@media screen and (min-width: 1024px) {
	.header {
		padding: 30px 40px;
	}	
}