@media screen and (min-width: 836px) {
	.header__button {
		padding: 11px 36px;
		margin-left: 26px;
		border: 1px solid #f82370;
		color: #f53f4f;
		text-decoration: none;
		font-size: 14px;
	}
	.header__button:hover {
		background-color: #f82370;
		color: #fff;
	}
}

@media screen and (min-width: 1200px) {
	.header__button {
		padding: 14px 35px;
		font-size: 12px;
		margin-left: 22px;
	}
}