.header__contacts {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

@media screen and (min-width: 836px) {
	.header__contacts {
		font-size: 22px;
		margin-left: auto;
	}
}
@media screen and (min-width: 1200px) {
	.header__contacts {
		font-size: 20px;
	}
}