.header {
	background-color: #fbfbfb;
	width: 100%;
	box-sizing: border-box;
	padding: 21px 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header_fixed {
	position: fixed;
	top: 0;
}

@media screen and (min-width: 836px) {
	.header {
		padding: 27px 35px;
	}	

@media screen and (min-width: 1200px) {
	.header {
		width: 940px;
		margin: 0 auto;
		padding: 20px 0;
	}	
}