.header {
	background-color: #fbfbfb;
	width: 100%;
	box-sizing: border-box;
	padding: 25px 19px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header_fixed {
	position: fixed;
	top: 0;
}

@media screen and (min-width: 1024px) {
	.header {
		padding: 30px 40px;
	}	

@media screen and (min-width: 1200px) {
	.header {
		width: 1152px;
		margin: 0 auto;
		padding: 29px 0;
	}	
}