.price__notice {
	margin: 31px 0 0 0;
	padding-left: 15px;
	text-indent: -14px;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}
.price__notice:before {
	content: "*";
	color: #fff;
	font-size: 15px;
	padding-right: 6px;
}

@media screen and (min-width: 1024px) {
	.price__notice {
		font-size: 17px;
		line-height: 29px;
	}
	.price__notice::after {
		content: "";
		display: block;
		position: absolute;
		right: 6.4%;
		bottom: 10%;
		width: 83px;
		height: 36px;
		background-image: url(../../img/4_white.png);
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.5s;
	}
}
@media screen and (min-width: 1200px) {
	.price__notice {
		width: 924px;
		margin: 0 auto;
		margin-top: 33px;
	}
	.price__notice:before {
		font-size: 17px;
		padding-right: 4px;
	}
	.price__notice::after {
		right: 8.95%;
		bottom: 68%;
	}
}