.price__notice {
	margin: 50px 0 0 0;
	padding-left: 15px;
	text-indent: -13px;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}
.price__notice:before {
	content: "*";
	color: #fff;
	font-size: 15px;
	padding-right: 6px;
}