.work {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 15px;
}

@media screen and (min-width: 1024px) {
	.work {
		width: 100%;
		box-sizing: border-box;
		padding: 30px 187px 105px;
	}
}

@media screen and (min-width: 1200px) {
	.work {
		padding: 0 30px 104px;
	}
}