.work {
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px 15px;
}

@media screen and (min-width: 1024px) {
	.work {
		width: 100%;
		box-sizing: border-box;
		padding: 30px 130px;
	}
}

@media screen and (min-width: 1024px) {
	.work {
		padding: 30px;
	}
	.work:last-child {
		page-break-before: all;
	}
}