.work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 15px;
	margin-top: 30px;
}

@media screen and (min-width: 1024px) {
	.work {
		width: 100%;
		box-sizing: border-box;
		padding: 0 130px;
	}
}

@media screen and (min-width: 1024px) {
	.work {
		padding: 0 30px;
	}
}