.carousel {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	margin-top: 41px;
	max-width: 1170px;
}

@media screen and (min-width: 1024px) {
	.carousel {
		flex-wrap: wrap;
		margin-top: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.carousel {
		width: 1170px;
		flex-wrap: nowrap;
	}
}