@media screen and (min-width: 1200px) {
	.price__notice {
		width: 924px;
		margin: 0 auto;
		margin-top: 30px;
	}
	.price__notice:before {
		font-size: 17px;
		margin-left: -3px;
		padding-right: 7px;
	}
}	