.contacts__li_email:before {
	content: "";
	position: absolute;
	top: 27%;
	left: 0;
	width: 15px;
	height: 20px;
	background-image: url("../../img/email.png");
	background-size: contain;
	background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
	.contacts__li_email {
		padding-left: 43px;
	}
	.contacts__li_email:before {
		width: 23px;
	}
}