.contacts__li_number:before {
	content: "";
	position: absolute;
	top: 26%;
	left: 0;
	width: 15px;
	height: 13px;
	background-image: url("../../img/call.png");
	background-size: contain;
	background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
	.contacts__li_number:before {
		top: 12%;
		width: 22px;
		height: 18px;	
	}
}