.contacts__li_number:before {
	content: "";
	position: absolute;
	top: 26%;
	left: 0;
	width: 15px;
	height: 13px;
	background-image: url("../../img/call.png");
	background-size: contain;
	background-repeat: no-repeat;
}