.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 23px;
	width: 280px;
	height: 55px;
	background-color: #ff4e2e;
	border: none;
	outline: none;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	background-color: #ff3095;
}
.button:visited {
	background-color: #ff4e2e;
}

@media screen and (min-width: 1024px) {
	.button {
		margin-top: 48px;
		height: 68px;
		width: 321px;
		font-size: 18px;
		letter-spacing: -0.14px;		
	}
}

@media screen and (min-width: 1200px) {
	.button {
		margin-top: 48px;
		height: 60px;
		width: 268px;
	}
}