@media screen and (min-width: 1024px) {
	.button_footer {
		grid-column: 3 / 3;
		grid-row: 1 / 1;
		margin: 0;
		width: 100%;
		height: 45px;
		background-color: inherit;
		border: 1px solid #ff5e79;
		font-size: 17px;
		letter-spacing: -0.55px;
		color: #ff6375;
	}
	.button_footer:hover {
		background-color: #ff6375;
		color: #fff;
	}
}
@media screen and (min-width: 1200px) {
	.button_footer {
		width: 248px;
	}
}