.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}
@media screen and (min-width: 1024px) {
	.container {
		width: 100%;
		margin: 0 auto;
		margin-top: 91px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		margin-top: 90px;
		justify-content: center;
		flex-wrap: nowrap;
	}
}