.heading-me::after {
	content: "";
	display: block;
	position: absolute;
	transform: rotate(2deg);
	right: -2.2%;
	top: 11.3%;
	width: 83px;
	height: 17px;
	background-image: url(../../img/1div.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

@media screen and (min-width: 1024px) {
	.heading-me {
		margin: 0;
		padding-top: 205px;
		font-size: 55px;
		text-align: left; 
	}
	.heading-me::before {
		content: "";
		display: block;
		position: absolute;
		transform: rotate(1deg);
		right: 56.93%;
		top: 72%;
		width: 83px;
		height: 38px;
		background-image: url(../../img/4.png);
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.5s;
	}
	.heading-me::after {
		transform: rotate(-34deg);
		right: 5.3%;
		top: 5.7%;
		height: 30px;
	}
}

@media screen and (min-width: 1200px) {
	.heading-me {
		padding-top: 186px;
		font-size: 79px;
	}
	.heading-me::before {
		right: 75.8%;
		top: 23.1%;
		height: 36px;
	}
	.heading-me::after {
		right: 54.1%;
		top: 2.34%;
	}
}