.photo {
	padding-top: 54px;
	text-align: center;
	width: 100%;
}
.photo::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: -3px;
	width: 100%;
	height: 391px;
	background-image: url("../../img/Ellipse.png");
	background-repeat: no-repeat;
	background-size: 470px 391px;
	background-position-y: 96px;
	background-position-x: 39%;
}
.photo::after {
	content: "";
	display: block;
	position: absolute;
	left: 11.5%;
	top: 22%;
	width: 83px;
	height: 21px;
	background-image: url(../../img/2.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
.photo__img {
	width: 225px;	
	margin-left: 56px;
	margin-bottom: -4px;
}


@media screen and (min-width: 1024px) {
	.photo {
		width: auto;
		padding-top: 0;
		padding-left: 0px;
		float: right;
		background-size: 920px 630px;
		background-position: 0% 135px;
	}
	.photo::before {
		top: -2px;
		height: 663px;
		background-size: 920px 630px;
		background-position-y: 137px;
		background-position-x: 0%;
	}
	.photo::after {
		top: 79.7%;
		left: 5.7%;
		height: 43px;
	}
	.photo__img {
		width: 428px;	
		margin-top: 25px;
		margin-bottom: 1px;
		margin-left: 76px;
		padding-right: 43px;
	}
}

@media screen and (min-width: 1200px) {
	.photo {
		width: auto;
		padding-top: 0;
		padding-left: 20px;
		float: right;
		/*background-size: 920px 760px;*/
		background-position: 0% 135px;
	}
	.photo::before {
		margin-left: -420px;
		top: 1px;
		height: 663px;
		background-size: 920px 760px;
		background-position-y: 33px;
		background-position-x: 0%;
	}
	.photo__img {
		position: absolute;
		right: 12.54%;
		margin-top: 28px;
	}
	.photo::after {
		top: 10.9%;
		left: 1.9%;
	}
}
@media screen and (min-width: 1740px) {
	.photo::after {
		left: 12.9%;
	}
}