.photo {
	/*margin-right: -38px;*/
	/*margin-top: 3px;*/
	padding-top: 54px;
	text-align: center;
	width: 100%;
	background-image: url("../../img/Ellipse.png");
	background-repeat: no-repeat;
	background-size: 470px 391px;
	background-position: 40% 93px;
}
.photo::before {
	content: "";
	display: block;
	position: absolute;
	right: -2.5%;
	top: 15.4%;
	width: 83px;
	height: 16px;
	background-image: url(../../img/1div.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
.photo::after {
	content: "";
	display: block;
	position: absolute;
	left: 11.5%;
	top: 22%;
	width: 83px;
	height: 21px;
	background-image: url(../../img/2.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition: all 0.5s;
}
.photo__img {
	width: 225px;	
	margin-left: 56px;
	margin-bottom: -4px;
}


@media screen and (min-width: 1024px) {
	.photo {
		width: auto;
		padding-top: 0;
		padding-left: 20px;
		float: right;
		background-size: 920px 630px;
		background-position: 0% 135px;
	}

	.photo::before {
		top: 15.3%;
		right: 5.3%;
		height: 30px;
		transform: rotate(-35deg);
	}

	.photo::after {
		top: 67.1%;
		left: 5.7%;
		height: 43px;
	}

	.photo__img {
		width: 428px;	
		margin-top: 25px;
		padding-right: 43px;
	}
}

@media screen and (min-width: 1200px) {
	.photo__img {
		margin-top: 28px;
		margin-right: -95px;
	}
}