.dots__item {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots__item_active, .dots__item:hover {
  background-color: #ff4e2e;
}

@media screen and (min-width: 1024px) {
	.dots__item {
		width: 18px;
		height: 18px;
		margin: 0 13px;
	}
}