.footer {
	margin-top: 47px;
	padding: 0 20px;
}
@media screen and (min-width: 1024px) {
	.footer {
		display: grid;
		grid-template-columns: 29.5% 44.3% 26.3%;
		grid-template-rows: 50% 50%;
		margin-top: 100px;
		padding: 0 40px;
	}
}
@media screen and (min-width: 1200px) {
	.footer {
		justify-content: center;
		grid-template-columns: 400px 500px 270px;
		margin-top: 77px;
		padding: 0;
	}
}